= simple_form_for @news_item do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.input :title, :required => true
  %p
    = "----------"
  %br 
  = f.input :url
  %p
    OR
  = f.label :text
  = f.text_area :text  
  %br
  = f.button :submit
